<div id="order">
  <div class="center">
    <div class="order_cl"><%= link_to 'Очистить корзину', '/cart/destroy_order', method: :delete %></div>
    <p>Наименований в корзине:</p>
    <div class="quantity" id="cart_quantity">0</div>
    <p>Цена:</p>
    <div class="quantity" id="cart_price">0 руб.</div>
    <%= link_to 'Оформить заказ', cart_path %>
  </div>
</div>
