<div id="catalog_menu">
  <div class="center">
    <% Category.all.each do |category| %>
      <%= link_to category.title, products_path(category: category.title), class: "menu #{active_category(category)}" %>
    <% end %>
    <div class="cl"></div>
  </div>
</div>
