<div id="footer" class="mainwidth">
  <div class="info">
    Использование любых материалов, заимствованных с сервиса без разрешения администрации, запрещено.
  </div>
  <div class="contacts">
    Использование любых материалов, заимствованных с сервиса без разрешения администрации, запрещено.
  </div>
  <div class="menu">
    <a href="#">Главная</a>
    <a href="#" class="active">Каталог</a>
    <a href="#">О компании</a>
    <a href="#">Контакты</a>
    <a href="#">Доставка</a>
  </div>
</div>
