<div id="header" class="mainwidth">
  <div class="contact">
    <img src="/assets/tel.png"/>
    <span>+7(495)</span>
    645-09-73
  </div>
  <a href="index.html" class="logo"><img src="/assets/logo.png" alt="БелВеликан" /></a>
  <div class="menu">
    <a href="#">Главная</a>
    <a href="#" class="active">Каталог</a>
    <a href="#">О компании</a>
    <a href="#">Контакты</a>
    <a href="#">Доставка</a>
  </div>
  <div class="cl"></div>
</div>
