<div id="head">
  <div class="center">
    
    <% Label.all.each do |label| -%>
      <%= link_to(label.title, '', class: 'filters') if label.products.present? -%>
    <% end %>
    <div class="search">
      <input type="text" value>
      <button>Поиск</button>
    </div>
  </div>
</div>
