<div id="head">
  <div class="center">
    <a href="#" class="filters" style="background: url(/assets/filter1.png)">Распродажа</a>
    <a href="#" class="filters" style="background: url(/assets/filter2.png)">Новые товары</a>
    <a href="#" class="filters" style="background: url(/assets/filter3.png)">Хиты продаж</a>
    <div class="search">
      <input type="text" value>
      <button>Поиск</button>
    </div>
  </div>
</div>
