<div id="slides" class="mainwidth">
    <div class="slide_container">
            <div class="sl" style="float: left; display: none ">
              <a> <img src="i/banner1.png" alt="slide"> </a>
            </div>
            <div class="sl" style="float: left;  display: none ">
              <a> <img src="i/banner2.png" alt="slide"> </a>
            </div>
            <div class="sl" style="float: left;  display: none ">
              <a> <img src="i/banner3.png" alt="slide"> </a>
            </div>
            <div class="sl" style="float: left;  display: none ">
              <a> <img src="i/banner4.png" alt="slide"> </a>
            </div>
            <div class="sl" style="float: left; ">
              <a> <img src="i/banner.png" alt="slide"> </a>
            </div>
        </div>
    <div class="left"></div>
    <div class="right"></div>
  </div>  
