<div id="slides" class="mainwidth">
    <div class="slide_container">
            <div class="sl" >
              <a> <img src="assets/banner1.png" alt="slide"> </a>
            </div>
            <div class="sl">
              <a> <img src="assets/banner2.png" alt="slide"> </a>
            </div>
            <div class="sl">
              <a> <img src="assets/banner3.png" alt="slide"> </a>
            </div>
            <div class="sl">
              <a> <img src="assets/banner4.png" alt="slide"> </a>
            </div>
            <div class="sl">
              <a> <img src="assets/banner.png" alt="slide"> </a>
            </div>
      
    </div>
    <div class="left"></div>
    <div class="right"></div>
  </div>  
  