<div id="slides" class="mainwidth">
  <div class="slide_container">
    <ul style="width: 1614px; margin-left: -807px; ">
      <li style="float: left; ">
        <a> <img src="/assets/banner2.png" alt="slide"> </a>
      </li>
      <li style="float: left; ">
        <a> <img src="/assets/banner.png" alt="slide"> </a>
      </li>
    </ul>

  </div>
  <div class="left">
    <a href="javascript:void(0);"></a>
  </div>
  <div class="right">
    <a href="javascript:void(0);"></a>
  </div>
</div>
