<div class="item">
  <div class="item_container">
    <div class="head" style="background: url(/assets/bg1.png)">Название товара</div>
    <div class="product"><img src="/assets/product1.jpg" alt="" /></div>
    <div class="popup">
      <h2>Наименование изделия</h2>
      <p>Размер: <span>52-64</span></p>
      <h2><span>3289 </span>руб.</h2>
      <div class="cart"><a href="#">В корзину</a><input type="text" value></div>
    </div>
  </div>
</div>
<div class="item">
  <div class="item_container">
    <div class="head" style="background: url(/assets/bg2.png)">Название товара</div>
    <div class="product"><img src="/assets/product1.jpg" alt="" /></div>
    <div class="popup">
      <h2>Наименование изделия</h2>
      <p>Размер: <span>52-64</span></p>
      <h2><span>3289 </span>руб.</h2>
      <div class="cart"><a href="#">В корзину</a><input type="text" value></div>
    </div>
  </div>

</div>
<div class="item">
  <div class="item_container">
    <div class="head" style="background: url(/assets/bg3.png)">Название товара</div>
    <div class="product"><img src="/assets/product1.jpg" alt="" /></div>
    <div class="popup">
      <h2>Наименование изделия</h2>
      <p>Размер: <span>52-64</span></p>
      <h2><span>3289 </span>руб.</h2>
      <div class="cart"><a href="#">В корзину</a><input type="text" value="шт."></div>
    </div>
  </div>
</div>

<div class="cl"></div>
<div class="text_container">
  <h3>Модные женские органайзеры в интернет-магазине Бутик.ру</h3>
  <p>В наше динамичное время уже невозможно представить жизнь делового человека без органайзера. Наличие этого предмета обеспечивает возможность эффективно планировать свое время, что в конечном времени позволяет достигнуть успеха. Органайзеры-ежедневники за все годы своего существования ничуть не потеряли актуальности и давно стали непременным атрибутом студентов и бизнесменов, людей из мира искусства и даже домохозяек.</p>
  <p>Как правило, женские органайзеры не слишком отличаются от мужских. Зачастую отличие между теми и другими состоит только в цвете. Ежедневник для представительниц прекрасной половины человечества выглядит более гламурно. Но в связи со склонностью современной моды к стилю «унисекс» различия между мужскими и женскими органайзерами стираются.</p>
  <h3>Кожаный органайзер – модный аксессуар 2012 года</h3>
  <p>Обычно ежедневник имеет обложку, сделанную из кожи или замши, натуральной или ее имитации, а также плотной бумаги или картона. Конечно, кожаный органайзер выглядит более стильно и подчеркивает вкус его владелицы. Согласитесь, что зачастую подобные мелочи красноречиво говорят о своей хозяйке и демонстрируют ее статус.</p>
  <p>Модные органайзеры отличаются оригинальным оформлением и актуальными расцветками, соответствующим тенденциям текущего сезона.</p>
  <p>Купить органайзер можно в нашем интернет-магазине или в магазине в Москве. Цены на этот предмет являются вполне демократичными и доступными для каждого человека. Вас порадует большой ассортимент нашего каталога.</p>
</div>
