<div class="image">
  <%= image_tag image.image.url %>
  <%= link_to "Удалить фотографию", destroy_image_admin_products_path(id: image.id), method: :delete, remote: true, onclick: '$(this).parent().remove();' %>
</div>
