/*
 *= require_self
 */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

* {padding: 0px; margin: 0px;}
html, body {width: 100%; height: 100%; font: 18px Trebuchet MS; color: #fff; margin: 0px auto;}
.floatfix {zoom: 1; overflow: hidden}
.cl {clear: both; line-height: 0px; display: block}
.mainwidth {width: 960px; margin: 0px auto; position: relative}
.spacer {height: 25px}
.divider {width: 100%; height: 1px; border-top: 1px solid #F1E2EF; margin-top: 50px; margin-bottom: 50px; float: left;}
img {border: none;}


body {background: #fff}
.center {width: 809px; margin: 0px auto}

/* HEADER */
#header {padding: 20px 0px 15px 0px; position: relative;}
#header .logo {float: left;}
#header .menu {text-align: center;}
#header .menu a {font: 18px Arial; color: #a7519a; text-decoration: none; display: inline-block; margin: 0px 10px}
#header .menu a:hover {text-decoration: none; color: #d8507a; }
#header .menu a.active {color: #707070;}
#header .contact {float: right; font: bold 16px Arial; color: #686868; }
#header .contact img {display: inline-block; vertical-align: middle}
#header .contact span {font: italic 16px Araal; color: #a7519a;}

/* POPUP_PR */
#main .item.pr .popup_pr {cursor: pointer; display: none; z-index: 200; background: url(/assets/bg_popup.png) repeat; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px}
#main .item.pr .popup.item {width: 215px; padding: 0px; float: left; background: #fff; height: 346px; position: fixed; top: 50%; left: 50%; margin-top: -173px; margin-left: -108px; z-index: 300; display: none}
#main .item.pr .popup.item .arrow {top: 118px; position: absolute; width: 39px; height: 39px; text-align: center; font: 12px Arial; color: #fff; line-height: 24px}
#main .item.pr .popup.item .item_container {border: none; width: 215px; height: 257px; background: #fff; position: relative;}
#main .item.pr .popup.item .product {overflow: hidden; list-style: none;  position: relative; width: 215px; height: 257px; background-repeat: no-repeat; background-position: center bottom; margin-bottom: 10px}
#main .item.pr .popup.item .product img {list-style: none; border-radius: 0px; float: left; display: none;}
#main .item.pr .popup.item .product img:last-child {display: block}
#main .item.pr .popup.item .product:hover {}
#main .item.pr .popup.item .product img {float: left;}
#main .item.pr .popup.item .info {padding: 0px 0px 5px 5px; background: url(/assets/bg_pr.png); left: 0px; right: 0px; bottom: 0px}
#main .item.pr .popup.item .info h2 {font: 14px Arial; color: #a7519a; margin-top: 5px} 
#main .item.pr .popup.item .info h2 span {font: bold 24px Arial; } 
#main .item.pr .popup.item .info p {font: bold 14px Arial; color: #686868; margin-top: 5px}
#main .item.pr .popup.item .info span {font: bold 14px Arial; color: #a7519a} 
#main .item.pr .popup.item .cart {background: url(/assets/trash_in.png) no-repeat; width: 115px; height: 24px; float: right; margin-top: -29px; margin-right: 5px}
#main .item.pr .popup.item .cart input {width: 23px; height: 13px; border: none; padding-left: 2px; padding-bottom: 1px; vertical-align: middle; color: #686868}
#main .item.pr .popup.item .cart a {font: 14px Arial; color: #fff; text-decoration: none; margin: 0px 5px 0px 10px}



/* HEAD */ 
#head {background: url(/assets/head_bg.png) repeat; height: 113px;}
#head .center {width: 809px; margin: 0px auto}
#head .filters {width: 128px; height: 24px; float: right; font: 14px Arial; text-align: center; margin-left: 20px; margin-top: 30px; line-height: 24px; text-decoration: none; color: #fff}
#head .filters.HIT {background: url(/assets/filter1.png);} 
#head .filters.New {background: url(/assets/filter2.png);} 
#head .filters.Sale {background: url(/assets/filter3.png);} 
#head .filters.HIT.active {background: url(/assets/filter1_a.png);} 
#head .filters.New.active {background: url(/assets/filter2_a.png);} 
#head .filters.Sale.active {background: url(/assets/filter3_a.png);} 
#head .filters:hover {opacity: 0.8}
#head .search {float: left; margin-top: 30px}
#head .search input {width: 255px; height: 20px; border: 2px solid #854585; border-radius: 3px; padding-left: 10px; color: #686868}
#head .search input.s {padding-left: 0px; width: 50px; height: 24px; background: url(search_b.png); cursor: pointer; border: none; color: white;}
#head .search button {width: 50px; height: 24px; background: url(/assets/search_b.png); cursor: pointer; border: none; color: #fff} 
#head .search button:hover {opacity: 0.5} 

/*	CART	*/
#main .item.or {position: relative; padding: 15px 0px; height: 85px; background: none}
#main .rights {float: right; margin-left: 40px}
#main .rights div {float: left; text-align: center; width: 265px}
#main a.pr {cursor: default; width: 67px; height: 81px; display: block; float: left; border-radius: 8px; border: 1px solid #a7519a}
#main a.pr img {width: 65px; height: 79px}
#main img {border-radius: 8px;}
#main .item .price.or h2 {font: 14px Arial; color: #a7519a; margin-top: 5px} 
#main .item .price h2.or span {font: bold 24px Arial; } 
#main .item .price.or p {font: bold 14px Arial; color: #686868; margin-top: 5px}
#main .item .price.or span {font: bold 14px Arial; color: #a7519a} 
#main .item .quantity.or h2 {font: 14px Arial; color: #a7519a; margin-top: 5px}
#main .item .quantity.or input {text-align: center; padding: 0px 3px; color: #686868; border-radius: 4px; width: 80px; height: 22px; border: 1px solid #ECD1E6; margin-top: 10px; outline: none; background: #F2E5F0;} 
#main .item .sum.or h2 {font: 14px Arial; color: #a7519a; margin-top: 5px}
#main .item .sum.or h2 span {font: bold 24px Arial; color: #686868} 
#main .item .sum.or p {font: 14px Arial; color: #686868}
#main .item .sum.or p span {font: bold 24px Arial; color: #686868}
#main .item a.del {cursor: pointer; border: none; background: url(/assets/del.png) no-repeat center bottom; width: 50px; height: 63px; font: 12px Arial; color: #999; text-decoration: none; float: right;}
#main .item a.del:hover {opacity: 0.8} 
#main .checkout {margin-top: 30px; height: 100px;}
#main .checkout h2 {float: left; width: 398px; font: bold 18px Arial; color: #A7519A;}
#main .checkout h2 span {font: bold 18px Arial; color: #686868;}
#main .order_form {margin-bottom: 40px}
#main .order_form .header {float: left; margin: 40px 0px 10px 0px;  overflow: hidden; color: #686868; font: bold 18px Arial; text-align: center; line-height: 44px; border-radius: 5px; background: #F2E5F0; width: 100%; height: 44px;}
#main .order_form form input {padding-left: 15px; padding-right: 15px; color: #686868; border-radius: 8px; width: 928px; height: 43px; border: 1px solid #e1e1e1; margin-top: 10px; outline: none}
#main .order_form form label {color: red; font: 10px Arial; margin-left: 15px; position: relative; top: -10px} 
#main .order_form form textarea {padding-top: 10px; padding-left: 15px; padding-right: 15px; color: #686868; border-radius: 8px; width: 928px; height: 28px; border: 1px solid #e1e1e1; margin-top: 10px; outline: none}
#main .order_form .ord_cart {float: left; margin: 30px 32px 30px 0px; cursor: pointer; border: none; width: 548px; height: 44px; background: url(order_b.png) no-repeat;}
#main .order_form form a.or_c {overflow: hidden; display: block; width: 378px; height: 44px; background: url(order_cl_b.png); margin-left: 2px; margin: 30px 0px; cursor: pointer; border: none;}

/*	ORDER	*/
#order {background: #f2e5f0; height: 113px; display: none}
#order .center {width: 809px; margin: 0px auto}
#order p {padding-top: 25px; color: #A7519A; font: bold 14px Arial; float: left;}
#order a.ord {cursor: pointer; background: url(/assets/order.png) no-repeat; border: none; width: 146px; height: 24px; float: left; margin: 21px}
#order a.ord:hover {opacity: 0.8}
#order .order_cl a.cl {cursor: pointer; background: url(/assets/order_cl.png) no-repeat; border: none; width: 146px; height: 24px; float: right; margin: 21px 0px 21px 21px}
#order .order_cl a.cl:hover {opacity: 0.8} 
#order .quantity {display: block; border-radius: 6px; background: #fff; width: 26px; height: 24px; float: left;margin: 21px 10px 21px 5px; font: bold 14px Arial; color: #707070; line-height: 24px; text-align: center;}
#order .quantity.name {width: 43px}
#order .quantity.price {width: 120px}

/*	SLIDES	*/ 
#slides {height: 265px; background: url(/assets/shadow_s.png) no-repeat center bottom; position: relative; margin-top: -35px; margin-bottom: 20px}
#slides .slide_container {background: #fff; overflow: hidden; width: 807px; height: 241px; position: relative; border: 1px solid #d6d6d6; margin: 0px auto}
#slides .slide_container .sl:last-child {display: block;}
#slides .slide_container .sl {display: none; float: left; list-style: none; width: 807px; overflow: hidden; margin: 0px; padding: 0px}
#slides .left, #slides .right {position: absolute; width: 45px; height: 45px; cursor: pointer; top: 0px; top: 40%}
#slides .left:hover, #slides .right:hover {opacity: 0.5} 
#slides .left {background: url(/assets/arrow_l.png); left: 0px;}
#slides .right {background: url(/assets/arrow_r.png); right: 0px;}
#slides .right a, #slides .left a {position: absolute; height: 100%; width: 100%}

/*	CATALOG_MENU	*/
#catalog_menu {}
#catalog_menu .menu {background: url(/assets/catalog_menu.png) no-repeat; width: 103px; height: 27px; float: left; font: 14px Arial; text-align: center; margin: 0px 6px 30px; line-height: 24px; text-decoration: none; color: #fff}
#catalog_menu .menu.active {color: #686868; background: url(/assets/catalog_menu_a.png) no-repeat} 
#catalog_menu .menu:hover {opacity: 0.5} 

/* CATALOG_MAIN */
#main .item.pr {background: none; float: left; margin: 0px 11px 20px; height: 346px; position: relative}
#main .label.pr {top: 7px; left: -9px; position: absolute; width: 57px; height: 24px; text-align: center; font: 12px Arial; color: #fff; line-height: 24px}
#main .label.pr.sale {background: url(/assets/label1.png);}
#main .label.pr.new {background: url(/assets/label2.png);}
#main .label.pr.hit {background: url(/assets/label3.png);}
#main .item_container.pr {cursor: pointer; width: 215px; height: 257px; border: 1px solid #bc80b3; background: #fff; position: relative;}
#main .product.pr {width: 215px; height: 257px; background-repeat: no-repeat; background-position: center bottom; margin-bottom: 10px}
#main .product:hover.pr {}
#main .item_container:hover.pr  {border: 2px solid #bc80b3; margin: -1px}
#main .item_container:hover .info.pr {}
#main .info.pr {padding: 0px; background: url(/assets/bg_pr.png); left: 0px; right: 0px; bottom: 0px}
#main .info:hover.pr {display: block;}
#main .info.pr h2 {font: 14px Arial; color: #a7519a; margin-top: 5px} 
#main .info.pr h2 span{font: bold 24px Arial; } 
#main .info.pr p {font: bold 14px Arial; color: #686868; margin-top: 5px}
#main .info.pr span {font: bold 14px Arial; color: #a7519a} 
#main .cart.pr {background: url(/assets/trash_in.png) no-repeat; width: 115px; height: 24px; float: right; margin-top: -29px}
#main .cart.pr.active {width: 115px; height: 24px; background: url(trash.png);}
#main .cart input.pr {width: 23px; height: 13px; border: 1px solid #2aba74; padding-left: 2px; padding-bottom: 1px; vertical-align: middle; color: #686868}
#main .cart a.pr {font: 14px Arial; color: #fff; text-decoration: none; margin: 0px 5px 0px 10px}
#main .cart.active {width: 115px; height: 24px; background: url(/assets/trash.png);}

/* MAIN */
#main {margin-bottom: 100px; margin-top: 20px}
#main .item {float: left; margin: 0px 3px; background: url(/assets/shadow_p.png) no-repeat center bottom; height: 430px; position: relative}
#main .item_container {width: 310px; height: 406px; border: 1px solid #bc80b3; background: #fff; position: relative;}
#main .head {background: #a251a7; border-bottom: 1px solid #bc80b3; font: 18px Arial; text-align: center; line-height: 37px}
#main .head.HIT {background: url(/assets/bg3.png);}
#main .head.New {background: url(/assets/bg2.png);}
#main .head.Sale {background: url(/assets/bg1.png);}
#main .product {width: 310px; height: 368px; background-repeat: no-repeat; background-position: center bottom}
#main .product:hover {}
#main .item_container:hover .popup {display: block}
#main .item_container:hover {opacity: 0.8}
#main .popup {display: none; padding: 15px; background: url(/assets/bg_pr.png); position: absolute; left: 0px; right: 0px; bottom: 0px}
#main .popup:hover .item_container {}
#main .popup h2 {font: 14px Arial; color: #a7519a; margin-top: 5px} 
#main .popup h2 span {font: bold 24px Arial; } 
#main .popup p {font: bold 14px Arial; color: #686868; margin-top: 5px}
#main .popup span {font: bold 14px Arial; color: #a7519a} 
#main .cart {background: url(/assets/trash_in.png) no-repeat; width: 115px; height: 24px; float: right; margin-top: -29px}
#main .cart input {width: 30px; height: 13px; border: none; padding-left: 2px; padding-bottom: 2px; color: #686868}
#main .cart a {font: 14px Arial; color: #fff; text-decoration: none; margin: 0px 0px 0px 10px}
#main .text_container {background: #f3f3f3; padding: 20px; margin-top: 20px; color: #9A9A9A; font: 14px Arial}
#main .text_container h3 {font: bold 14px Arial; color: #a7519a; margin-top: 10px; margin-bottom: 10px}
#main .text_container p {font: 14px Arial; color: #9a9a9a; margin-bottom: 15px}


/* FOOTER */
#footer {font: italic 12px Arial; color: #707070; overflow: hidden; border-top: 1px solid #f1e2ef; padding: 10px 0px}
#footer .contacts {float: left; width: 250px}
#footer .info {float: right; width: 250px}
#footer .menu {text-align: center; display: block;}
#footer .menu a {font: 12px Arial; color: #a7519a; text-decoration: none; display: inline-block; margin: 0px 10px}
#footer .menu a:hover {text-decoration: none; color: #d8507a; }
#footer .menu a.active {color: #707070}

/* TOP__FOOTER */
#top_footer{text-align: center; margin-bottom: 50px }
#top_footer .pages a {vertical-align: middle; background-repeat: no-repeat; display: inline-block; width: 16px; height: 18px; font: bold 18px Arial; color: #a7519a; text-decoration: none; margin: 10px}
#top_footer .pages a:hover {opacity: 0.5}
#top_footer .pages a.active {color: #686868} 
#top_footer .top {cursor: pointer; position: absolute; background: url(/assets/top.png) no-repeat; width: 45px; height: 45px; right: 0px; bottom: 0px}
#top_footer .top:hover {opacity: 0.5}
